@import 'tailwindcss';

@layer base {
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    
    /* --primary-bg-color: bg-indigo-600;
    --secondary-bg-color: bg-indigo-100;

    --primary-color: text-indigo-600;
    --secondary-color: text-indigo-100;

    --header-text-color: text-slate-900;
    --content-text-color: text-slate-600;
    --secondary-text-color: text-slate-400;

    --primary-border-color: border-slate-200; */
  }

  button {
    width: auto;
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing)*2) calc(var(--spacing)*4);
    color: var(--color-indigo-50);
    background-color: var(--color-indigo-600);
  }
  
  button:hover {
    cursor: pointer;
    background-color: var(--color-indigo-800);
  }

  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

}
